@charset "utf-8";
/*===============
 	カート・注文系画面
===============*/
/* 入力フォーム(共通) */
table td input[type="text"],
.table .td input[type="text"] {
	width:100%;
}
/* 注文履歴詳細 */
.memberOrderDetail input[type="button"].returnButton {
	font-size:1.4em;
	padding:0 28px;
	height:48px;
}
/* 注文入力：商品のお届け先指定 */
#destinationGroup {
	padding-bottom:0;
}
.postCodeCheckGroup table tr th {
	border:0;
	background:#fff;
	display:inline-block;
	padding:8px 0 0;
	text-align:left;
	vertical-align:top;
	width:auto;
	white-space:nowrap;
}
.postCodeCheckGroup table tr td {
	border:0;
	display:inline-block;
	padding:8px 0 0 8px;
	width:auto;
}
.postCodeCheckGroup table tr.telRow th,
.postCodeCheckGroup table tr.telRow td {
	padding-top:0;
}
@media (max-width:600px) {
	#destinationGroup {
		padding-bottom:20px;
	}
	.postCodeCheckGroup table tr th,
	.postCodeCheckGroup table tr td {
		display:table-cell;
	}
}
/* コンテンツ部分 */
.division_band {
	margin-top:40px;
	border-left:8px solid #ccc;
	display:table;
	width:100%;
}
.division_band .h4 {
	display:table-cell;
	width:300px;
	background-color:#fff;
	vertical-align:top;
}
.division_band .right_content {
	display:table-cell;
	vertical-align:top;
}
/* テーブル */
.division_band .right_content dl .th,
.division_band fieldset dl .th {
	width:160px;
}
.division_band .right_content dl .th + .td,
.division_band fieldset dl .th + .td {
	min-width:inherit;
}
.division_band .right_content dl,
.division_band .right_content dl dt {
	margin-top:6px;
	border-top:1px dotted #ccc;
	padding-top:6px;
}
.division_band .right_content dl dt {
	font-weight:bold;
}
.division_band .right_content dl:first-child,
.division_band .right_content dl dt:first-child {
	border-top:0;
	padding-top:0;
	margin-top:0;
}

.division_band .right_content dl dt label {
	white-space:nowrap;
}
/* 入力フォーム・プルダウン（個別）
----------------------------- */
.division_band .exp-date_area select { width:70px; }
.division_band input[type="text"].usePoint { width:50%; }

.mail_check_group { margin-top:40px; }
.mail_check_group p { display:table; }
.mail_check_group input[type="checkbox"] { display:table-cell; }
.mail_check_group .mail_check_box_text { display:table-cell; padding-left:10px; }
.mail_check_group .mail_check_box_text::before { content:"・"; margin-left:-14px; }

/* カートテーブル */
table.cart th,
table.cart td {
	text-align:center;
	padding:8px;
}
/* 商品写真 */
table.cart th.cart_item_photo,
table.cart td.cart_item_photo {
	width:50px;
}
table.cart td.cart_item_photo img,
table.cart td img.cart_item_photo {
	width:42px;
	height:auto;
}
/* 商品名 */
table.cart th.cart_item_name,
table.cart td.cart_item_name {
	width:auto;
	text-align:left;
}
/* 数量PC */
table.cart th.cart_quantity,
table.cart td.cart_quantity {
	width:128px;
	white-space:nowrap;
}
table.cart .quantity_select > * {
	float:left;
}
table.cart .quantity_select {
	width:106px;
	display:block;
	white-space:nowrap;
	margin:0 auto;
}
table.cart .quantity_select input[type="text"] {
	border:1px solid #ccc;
	height:24px;
	padding:2px 6px;
	text-align:left;
	width:58px;
}
table.cart .quantity_select input[type="button"] {
	width:23px;
	height:24px;
	border:1px solid #ccc;
	border-left:none;
	text-align:center;
	background:#7b7b7b;
	color:#fff;
}
table.cart .quantity_select input[type="button"]:hover {
	background:#d8d8d8;
	color:#333;
	box-shadow:0 0 1px 0 rgba(255,255,255,1.0) inset;
}
/* 商品単価 */
table.cart .cart_goods_price {
	word-break:normal;
	white-space:nowrap;
	width:110px;
}
/* 商品単価（割引前） */
table.cart .cart_sale_price {
	text-align:right;
	word-break:normal;
	white-space:nowrap;
	width:110px;
}
/* 納期目安 */
table.cart .cart_delivery_time {
	width:82px;
}
/* 削除 */
table.cart th.cart_delete,
table.cart td.cart_delete {
	width:70px;
	white-space:nowrap;
}
/* カートテーブル下エリア */
.cart_total_container {
	float:right;
	width:50%;
}
.cart_total_container:before,
.cart_total_container:after {
	content:"";
	display:table;
}
.cart_total_container:after {
	clear:both;
}
.cart_total_container {
	zoom:1;
}
/* 小計 */
.price_sum_container {
	margin:10px 0;
	padding:20px;
	background:#f6f6f6;
}
.price_sum_container .left_colmun {
	float:left;
	width:120px;
}
.price_sum_container .right_colmun {
	float:right;
	font-size:1.2em;
}
/* 商品代金小計 */
.price_sum_container .price_sum_row,
.price_sum_container .price_sum,
.price_sum_container .price_sum_tax,
.price_sum_container .postage,
.price_sum_container .settlement {
	border-bottom:1px dotted #ccc;
	padding:10px;
	overflow:hidden;
	width:100%;
}
/* 合計 */
.price_sum_container .total_price {
	padding:10px;
	border-collapse:separate;
	width:100%;
	overflow:hidden;
}
.price_sum_container .total_price .left_colmun {
	font-weight:bold;
	float:left;
}
.price_sum_container .total_price .right_colmun {
	font-weight:bold;
	font-size:1.8em;
	float:right;
}
#totalPriceSurround {
/*	overflow:hidden;*/
	padding-top:3px;
}

/* 商品情報 */
table.cart.forPC tr th.orderListGoodsImgTitle { width:12%; }
table.cart.forPC tr th.orderListGoodsNameTitle { width:48%; }
table.cart.forPC tr th.orderListGoodsAmountTitle { width:10%; min-width:45px; }
table.cart.forPC tr th.orderListGoodsPriceTitle { width:15%; }
table.cart.forPC tr th.orderListGoodsTotalPriceTitle { width:15%; }

@media (max-width:1134px) {
/* 明細in明細 */
	.table.univ_shop_select,
	.table.univ_shop_select .tr,
	.table.univ_shop_select .tr .td,
	.payment8_set .table,
	.payment8_set .table .tr,
	.payment8_set .table .tr .td,
	.Payment29_set .table,
	.Payment29_set .table .tr,
	.Payment29_set .table .tr .td {
		display:block;
		min-width:0;
		width:100%;
		text-align:left !important;
	}
	.payment8_set .table .tr .td,
	.Payment29_set .table .tr .td {
		border-bottom:0;
	}
	.table.univ_shop_select .tr:last-child .td:last-child,
	.payment8_set .securityCode8Row .tr .td:last-child,
	.Payment29_set .securityCode29Row .tr .td:last-child {
		border-bottom:1px solid #ccc;
	}
}
@media (max-width:1000px) {
	.division_band .right_content .th,
	.division_band fieldset .th {
		white-space:normal;
	}
}
@media (max-width:900px) {
	.division_band .h4 {
		width:20%;
	}
	.cart_total_container {
		float:none;
		width:100%;
	}
}
@media (max-width:600px) {	
	.division_band {
		border:0;
		display:block;
		width:100%;
	}
	.division_band .h4 {
		display:block;
		width:100%;
		margin-bottom:10px;
		padding:0 0 0 5px;
	}
	.division_band .right_content {
		display:block;
	}
	.division_band .right_content .table {
		border-top:1px solid #ccc;
	}
	.order_list.forSP {
		display:table;
		width:100%;
	}
	.order_list thead {
		display:none;
	}
	.order_list td { 
		border-width:1px 0;
	}
	.division_band .right_content .th,
	.division_band .right_content .td {
		display:block;
		width:100%;
		text-align:left !important;
	}
	.division_band .right_content .td {
		border-top:none;
	}
	.division_band .right_content dl .th,
	.division_band fieldset dl .th {
		width:100%;
	}
	.division_band .right_content .th + .td,
	.division_band fieldset .th + .td {
		min-width:100%;
	}
	.division_band .right_content dl dt label {
		padding:5px 5px 5px 0;
		display:inline-block;
	}
	.division_band input[type="text"] ,
	.division_band select {
		width:100%;
	}
	.division_band input[type="button"],
	.division_band a.formbtn_1,
	.division_band a.formbtn_2,
	.division_band a.formbtn_3,
	.division_band a.formbtn_4,
	.division_band a.formbtn_5 {
		width:100%;
		margin-top:5px;
	}
	.division_band .zip_area input[type="button"] {
		width:auto;
		margin:0;
	}
	.division_band .exp-date_area select {
		width:100px;
	}
	table.cart th.cart_item_photo,
	table.cart td.cart_item_photo {
		width:30%;
		vertical-align:top;
	}
	table.cart td.cart_item_photo img,
	table.cart td img.cart_item_photo {
		width:100%;
	}
	table.cart_sp {
		width:100%;
		border:0;
	}
	table.cart_sp th,
	table.cart_sp td {
		border:0;
		background:#fff;
		display: inline-block !important;
		padding: 10px 0;
	}
	.price_sum_container {
		margin-top:0;
		padding:0 5px;
	}

	/* 商品情報 */
	table.cart { display:table; }
	table.cart tbody { display:table-row-group; }
	table.cart tr { display:table-row; }
	table.cart tr th, table.cart tr td { display:table-cell; border:0; background:#fff; }
	table.cart th.cart_item_photo, table.cart td.cart_item_photo { width:30%; min-width:100px; vertical-align:top; }
	table.cart > tbody > tr { border-bottom:1px solid #ccc; }
	table.cart .cart_sp th { text-align:left; }
	
	/* Cart.css　49行 */
	table.cart td.cart_quantity {
		float: none;
		width:auto;
	}
	table.cart_sp th {
		width:auto;
	}
	/* 商品単価 */
	table.cart .cart_goods_price,
	table.cart .cart_sale_price {
		width:auto;
	}

	.cart_sp tr {
		text-align: left;
	}
	table.cart_sp td.cart_delete {
		float: right;
	}
	table.cart_sp td.cart_delete input[type="button"] {
		background: transparent;
		border: none;
	}
	.cart_info_container .cart_msg_deliver {
		padding: 9px 8px 8px 8px;
	}
	/* margin */
	.mb30 {
		margin-bottom: 30px !important;
	}

}