@CHARSET "UTF-8";
/* テーブル */
table.forPC tr th.orderListGoodsNameTitle { width:46%; }
table.forPC tr th.orderListGoodsAmountTitle { width:10%; min-width:45px; }
table.forPC tr th.orderListGoodsPriceTitle { width:16%; }
table.forPC tr th.orderListGoodsTotalPriceTitle { width:16%; }
@media (max-width:600px) {
	table.forSP { display:table !important}
	/* スマホ注文フロー用ヘッダー */
	header #main_header .logo_area{ height:27px; }
}